
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/apigateway-logo.1.png") no-repeat center center #0899cc;
    background-size: contain;
}
.apptwo-logo {
    display: inline-block;
    width: 100px;
    height: 70px;
    background: url("../../content/images/Cumulocity_Logo.png") no-repeat center top;
    background-size: contain;
}
.app-select-banner {
    color: #2780ec;
    background-color: #a3c6f1;
    border-color: #63a1ec;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/apigateway-logo.1.png") no-repeat center top #0899cc;
        background-size: contain;
    }
}
